@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: rgb(162, 144, 144);
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  margin: 0 18px;
}

.left-links, .right-links{
  display: flex;
  gap: 18px;
  padding: 0;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 8px;
  margin: 200px;
}

.footer{
  padding: 0 18px;
  background-color: rgba(173, 155, 155, 0.103);
}
