/* Add CSS Styling */
.odd{
    background-color: rgb(236, 110, 140);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element{
    color: rgb(43, 43, 239);
    font-size: 36px;
}

.bigger-font{
    font-size: 24px;
}

#fourth-element{
    background-color: rgb(97, 243, 97);
    font-weight: bold;
}